.container {
    margin: 0 auto;
}

.login-container {
    display: grid;
    justify-content: center;
    margin-bottom: 0.5rem;
}

#login-form, #signup-form {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

#login-form input, #signup-form input {
    margin-bottom: 1rem;
}

#sign-in-btn {
    margin-top: 1rem;
}

#login-btn, #signup-btn {
    margin-top: 1rem;
}

#login-form p, #signup-form p {
    text-align: center;
}

#login-form a, #signup-form a {
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: #254653;
}

#login-form a:hover, #signup-form a:hover {
    color: #F3A161;
}

#login-btn:hover, #signup-btn:hover {
    background-color: #ffc270;
    cursor: pointer;
}

