.heading-box {
    margin-bottom: 0;
}

#map {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}

.leaflet-popup-content-wrapper {
    background-color: #FFF8F2;
    border-radius: 0.5rem;
}

.leaflet-popup-content {
    color: #254653;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}