.container {
    max-width: 70%;
    margin-top: 6rem;
    border-radius: 10px;
    border-width: 2px;
    box-shadow: 5px 5px 10px 5px #ccc;
    padding: 2rem;
    overflow: auto;
}
.profile-icon-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-shrink: 1;
}

.profile-info-box {
    margin-top: 1rem;
    display: grid;
    justify-content: center;
    flex-shrink: 1;
}

#profile-form {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    font-weight: bold;
    align-items: center;
    flex-shrink: 1;
}


img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
}

.avatar-save-container {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

#update-profile-btn {
    font-weight: bold;
}


.custom-file-upload {
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border-radius: 0.5rem;
    border: 2px solid #254653;
    padding: 0.4rem;
    background-color: #F3A161;
    color: #254653;
    box-shadow: 2px 2px #254653;
    width: fit-content;
}
.custom-file-upload:hover {
    cursor: pointer;
    background-color: #ffc270;
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 50%;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 40%;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 70%;
    }
}



