.container {
    max-width: 70%;
    margin-top: 6rem;
    border-radius: 10px;
    border-width: 2px;
    box-shadow: 5px 5px 10px 5px #ccc;
    padding: 2rem;
    background: linear-gradient(#FFF8F2, #F3A161);
}
.profile-icon-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-shrink: 1;
}

.profile-info-box {
    margin-top: 1rem;
    display: grid;
    justify-content: center;
    flex-shrink: 1;
}

#profile-form {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    font-weight: bold;
    align-items: center;
}


img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
}

#save-btn {
    margin-top: 1rem;
    width: 5rem;
}


@media screen and (min-width: 992px) {
    .container {
        max-width: 50%;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 40%;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 70%;
    }
}



